@import "tailwindcss";

@font-face {
  font-family: Redhat;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

@theme {
  --font-Redhat: "Redhat", sans-serif;
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-red-50: hsl(20, 50%, 98%);
  --color-red-100: hsl(13, 31%, 94%);
  --color-red-300: hsl(14, 25%, 72%);
  --color-red-400: hsl(7, 20%, 60%);
  --color-red-500: hsl(12, 20%, 44%);
  --color-red-900: hsl(14, 65%, 9%);
}

.absolute-el {
  @apply absolute left-1/2 bottom-0 translate-x-[-50%] translate-y-1/2 border border-red-400 hover:border-red hover:text-red w-40 h-[2.75em] rounded-full cursor-pointer;
}